<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Salarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:replace="index.html :: nav"></nav>

<div class="container">
    <h2>Reporte de Salarios</h2>
    <a class="btn btn-success" th:href="@{/search/}">Regresar</a>

    <table class="table table-dark table-striped">
        <tr>
            <th class="text-center">Puesto</th>
            <th class="text-center">Salario Maximo</th>
            <th class="text-center">Salario Minimo</th>
            <th class="text-center">Salario Total</th>
            <th class="text-center">Salario Promedio</th>

        </tr>
        <tr th:each="sal, info : ${listaSalario}" >
            <td th:text="${sal.getJobtitle()}" class="text-center" ></td>
            <td th:text="${sal.getMax()}" class="text-center" ></td>
            <td th:text="${sal.getMin()}" class="text-center" ></td>
            <td th:text="${sal.getSuma()}" class="text-center" ></td>
            <td th:text="${sal.getPromedio()}" class="text-center" ></td>

        </tr>
    </table>
</div>
</body>
</html>

