<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <title>Historial de Empleados</title>
</head>
<body>
<div class="container">
    <h1>Historial de Empleados</h1>
    <form class="input-group mb-lg-3" method="post">                <!-- COMPLETAR -->
        <!-- COMPLETAR -->

        <div class="input-group-append">


        </div>
    </form>

    <!-- COMPLETAR -->
    <!-- COMPLETAR -->
    <table class="table table-sm" >
        <thead>
        <tr>
            <td>Nombre Completo</td>
            <td>Puesto</td>
            <td>Departamento</td>
            <td>Jefe</td>
            <td>Fecha Inicio</td>
            <td>Fecha Fin</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleadoDto : ${listaHistorial}">
            <td th:text="${empleadoDto.getNombre_completo()}"></td>
            <td th:text="${empleadoDto.getPuesto()}"></td>
            <td th:text="${empleadoDto.getDepartamento()}"></td>
            <td th:text="${empleadoDto.getJefe()}"></td>
            <td th:text="${empleadoDto.getFecha_inicio()}"></td>
            <td th:text="${empleadoDto.getFecha_fin()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>