<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
</head>
<body>

<nav th:replace="index.html :: nav"></nav>

    <div class="container">
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/employee/new'}">Nuevo empleado</a>

        <form class="form-inline mb-3" method="post" th:action="@{/employee/BuscarEmployee}">
            <div class="container-md">
                <div class="input-group mb-2">
                    <input class="form-control mr-2" placeholder="Search" name="searchName">
                    <button class="btn btn-outline-info" type="submit">Buscar</button>
                    <a class="btn btn-outline-danger" th:href="@{/employee/list}">Limpiar</a>
                </div>
            </div>
        </form>

        <!-- COMPLETAR -->
        <!-- COMPLETAR -->
<!--            <table class="table table-sm" th:if="${}">-->

        <div th:if="${msgCreate != null}" th:text="${msgCreate}" class="alert alert-success" role="alert"></div>
        <div th:if="${msgEdt != null}" th:text="${msgEdt}" class="alert alert-warning" role="alert"></div>
        <div th:if="${msgDelete != null}" th:text="${msgDelete}" class="alert alert-danger" role="alert"></div>

        <table class="table table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Puesto</th>
                    <th>Departamento</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="employee, vEst : ${employeesList}">
                        <td th:text="${vEst.index + 1}"></td>
                        <td th:text="${employee.getFirstName()}"></td>
                        <td th:text="${employee.getLastName()}"></td>
                        <td th:text="${employee.getJob().getJobTitle()}"></td>
                        <td th:text="${employee.getDepartament().getDepartmentName()}"></td>
                        <td th:text="${employee.getDepartament().getLocation().getCity()}"></td>
                        <td><a class="btn btn-primary"
                               th:href="@{'/employee/edit' + '?id=' + ${employee.getEmployeeId()}}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger"
                               th:href="@{'/employee/delete' + '?id=' + ${employee.getEmployeeId()}}">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>